
body {
	text-align: center;
	padding: 0px;
	margin: 0px;
	font-family: "Roboto",sans-serif;
	font-size: 12px;
	color:#f8f8f8 !important;
}

body .text-color1  {
    color: #f8f8f8;
}

body .text-color2  {
    color: #f8f8f8;
}

.container {
	/*width:1200px;*/
	margin: 0px auto;
	/*text-align: left;*/
}

.top-nav {
	position: fixed;
	height: 75px;
	padding-top: 20px;
	padding-bottom: 20px;
	width:100%;
	background-color: #f8f8f8;
}

.top-nav li a {
	font-size:16px;
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	color:#303030 !important;
}

.navbar li .current {
	background-color: transparent;
	color: #00ff00 !important;
	outline: none;
}

.navbar-brand {
	padding-top: 0px;
}

.top-nav li a:hover {
	color:#C54D8D!important;
}

.navbar-inverse {
	border: none;
	box-shadow: 0px 1px 5px #276f27;
}

.content {
	padding-top:10px;
}

@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 100%; }
}

.section1 {
    background: url(../img/gif2.gif) rgba(0,0,0,1);
    box-shadow: inset 0 0 0 800px rgba(0 , 0, 0, 0.80);
    background-attachment:fixed;
    background-position:50% 50%;
    background-size: 250px 250px;
    animation: animatedBackground 10s linear infinite;
}

.section1 .main-logo
{

}

.section1 h2
{
	font-family: "Roboto",sans-serif;
	font-weight: 300 !important;
	font-size: 48px;
	color:#fff;
}

.section1 p {
	font-size: 20px;
	font-weight: 300;
	color: #fff;
}

.section2 {
	padding-top: 10px;
	padding-bottom: 10px;
}

.section2 .intro-text {
	/*text-align: left*/
}

.section2 img {
	margin: 0 auto;
}

.section2 h3#aboutus-title {
	font-family: "Roboto", sans-serif;
	font-size: 34px;
	color: #848484 !important;
	font-weight: 300;
	margin-bottom: 40px;
}

.section2 p {
	color: #848484;
	font-size: 18px;
	font-family: "Roboto", sans-serif;
	margin-bottom: 20px;
	font-weight: 300;
}

.section2 h1 {
	color: #848484;
	font-size: 32px;
	font-family: "Roboto", sans-serif;
	margin-bottom: 20px;
	font-weight: 500;
}

.section2 h3 {
	color: #848484;
	font-size: 24px;
	font-family: "Roboto", sans-serif;
	margin-bottom: 20px;
	font-weight: 400;
}

.section3 {
	background: url(../img/gif1.gif) rgba(0,0,0,1);
	box-shadow: inset 0 0 0 1000px rgba(0 , 0, 0, 0.80);
	background-attachment:fixed;
	background-position:50% 50%;
    background-size: 1200px 1200px;
	animation: animatedBackground 20s linear infinite;
}

.section3 .container
{

}

.section3 img.img-responsive {
	margin: 0 auto;
}

.section4 {
	background: url(../img/brown.jpg)fixed 0% 0px / cover;
	background-position:50% 50%;
    box-shadow: inset 0 0 0 300px rgba(36, 255, 105, 0.40);
}

.section4 .container
{
}

.section5 {
	background: url(../img/gif1.gif) rgba(0,0,0,1);
	box-shadow: inset 0 0 0 600px rgba(0 , 0, 0, 0.80);
	background-attachment:fixed;
	background-position:50% 50%;
	background-size: 200px 200px;
    animation: animatedBackground 30s linear infinite;
}

.section5 .container
{

}

.section5 img.img-responsive {
	margin: 0 auto;
}

.section5 h3 {
	color: #848484;
	font-weight: 400;
}

.section5 p {
	color: #848484;
	font-weight: 300;
	font-size: 18px;
}

.item  {
	width: 20%; 
	background-color: red;
	height:300px;
	float:left;
	position: relative;
}

.item.w2  {
	width: 25%; 
}

.item.w3 {
	width: 40%; 
}

.item .hidden-item {
	display: none;
}

.portfolio {
	padding: 10px 0px
}

.portfolio #portfolio-introduction {
	margin-bottom: 10px;
	margin-top: 10px;
	color: #828282;
}

.portfolio #portfolio-introduction p {
	font-size: 24px;
	font-weight: lighter;
}

.portfolio #portfolio-items {
	border-top: 1px solid #D6D6D6;
	border-bottom: 1px solid #D6D6D6;
}

.portfolio .item .hover-content {
	width: 100%;
	height: 100%;
	background: #8a0175;
	opacity: 0.8;
	position: absolute;
	padding: 10px;
	display: none;
	transition:all 0.5s ease 0s;
	cursor: pointer;
}

.portfolio .item .hover-content h3 {
	font-size: 34px;
	font-weight: lighter;
	color: #fff;
	position: relative;
	top:30%;
}

.portfolio .item:hover .hover-content {
	display: block;
}

.portfolio .item  .portfolio-popup h3 {
	margin-bottom: 30px;
	margin-top: 0px;
	color:#828282;
} 

.portfolio .item .portfolio-popup p {
	color: #828282;
	line-height: auto;
	font-size: 18px;
	font-weight: lighter;
}
.portfolio .item .portfolio-popup .popup-image-container {
	padding: 10px;
}

.portfolio .item .portfolio-popup .popup-image-container img {
	margin: 0 auto
}

.portfolio .item  .portfolio-popup .portfolio-item-description {
	border-bottom: 1px solid #8D8D8D;
    padding: 10px;
    text-align: left;
}

.portfolio .item .portfolio-popup .labels {
	margin-top:20px;
	line-height: 30px;
}

.portfolio .item  .portfolio-popup .portfolio-item-description span.label {
	font-family: "Roboto", sans-serif;
	font-size: 12px;
	font-weight: lighter;
}

.portfolio h3 {
	font-size: 60px;
	font-family: "Roboto", sans-serif;
	font-weight: lighter;
}

#contact {
	/*padding-bottom:80px;*/
	font-family:"Roboto", sans-serif;
	font-weight:300;
	min-height:20px;
}

#contact #contact-us-header {
	font-size: 44px;
	font-weight: lighter;
}

#contact #contact-form input[type=submit] {
	background-color:#C54D8D;
	border:1px solid #882565																																																																																																																																																																						
}

#contact #contact-form {
	text-align: left;
}

#contact #contact-form label {
	font-size: 8px;
	font-weight: lighter;
}

#contact .contact-description p {
	font-size:20px;
}

.sm-wrapper {
	margin-top:30px;
	margin-bottom:50px;
}

.sm-wrapper a:hover
{

}

.sm-container {
	width:32px;
	height:32px;
	display:block;
	float:left;
	background:url(../img/sm-sprite.png) no-repeat;
	margin-right:10px;
}

.sm-container:hover {
	/*border-bottom:5px solid #C54D8D;*/
	cursor:pointer;
}
/* end of contact section */

/* Landscape phones and down */
@media (max-width: 480px) {
	.section2 p {
		font-size: 18px;
		font-weight: 300;
	}
	.section2 img {
		padding-bottom: 30px;
	}
	.item,.item.w2 , .item.w3 {
		width: 100%; 
	}
	.portfolio .item  .portfolio-popup h3 {
		font-size: 42px;
	}
	.portfolio .item .portfolio-popup p {
		font-size: 16px;
		font-weight: lighter;
	}
	.section2 .team img {
		padding-bottom: 0px;
	}
	.section3 .service-item {
		margin-bottom: 20px
	}
	.section3 .service-item p {
		font-size: 18px;
	    margin: 0 auto;
	    width: 75%;
	}
 }

/* Landscape phone to portrait tablet */
@media (min-width: 481px) and (max-width: 767px) {
	.section3 .service-item {
		margin-bottom: 30px
	}
	.section3 .service-item p {
		font-size: 18px;
	    margin: 0 auto;
	    width: 75%;
	}

	.section2 p {
		font-size: 20px;
		font-weight: 300;
	}

	.section2 img {
		padding-bottom: 0px;
	}

	.item,.item.w2 , .item.w3 {
		width: 100%; 
	}

	.navbar-nav {
		background-color:#F8F8F8
	}
}


/* ---- reset ---- */

body {
  margin: 0;
  font:normal 90% Arial, Helvetica, sans-serif;
}

canvas {
  display: block;
  vertical-align: bottom;
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 1024px) {
	.section2 img {
		padding-bottom: 60px;
	}

	.section2 p {
		font-size: 20px;
	}

	.section2 img {
		padding-bottom: 0px;
	}

	.section3 .service-item {
		margin-bottom: 20px;
		font-size: 18px;
	}

	.portfolio .item .hover-content {
		width: 100%;
		height: 100%;
		background: #8a0175;
		opacity: 0.8;
		position: absolute;
		padding: 20px;
		display: none;
		transition:all 0.5s ease 0s;
		cursor: pointer;
	}

	.portfolio .item .hover-content h3 {
		font-size: 18px;
		font-weight: 300;
		color: #fff;
		position: relative;
		top:30%;
	}

	.portfolio .item:hover .hover-content {
		display: block;
	}

	.portfolio .item  .portfolio-popup h3 {
		margin-bottom: 20px;
		margin-top: 0px;
		color:#828282;
		font-size: 42px;
	} 

	.portfolio .item .portfolio-popup p {
		color: #828282;
		line-height: auto;
		font-size: 16px;
		font-weight: lighter;
	}

	.item  {
		width: 20%; 
		background-color: red;
		height:20px;
		float:left;
		position: relative;
	}

	.item.w2 {
		width: 25%; 
	}

	.item.w3 {
		width: 40%; 
	}

	.navbar-nav {
		float: right;
	}
}

/* Large desktop */
@media (min-width: 1025px) {
	.navbar-nav {
		float: right;
	}
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }



.center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 10%;
        }
        /*
         * Custom translucent site header
         */
        .site-header {
            background-color: rgba(0, 0, 0, .85);
            -webkit-backdrop-filter: saturate(180%) blur(20px);
            backdrop-filter: saturate(180%) blur(20px);
        }
        .site-header a {
            color: #999;
            transition: ease-in-out color .15s;
        }
        .site-header a:hover {
            color: #fff;
            text-decoration: none;
        }
        html {
            box-sizing: border-box;
        }
        *, *:before, *:after {
            box-sizing: inherit;
        }
        .column {
            float: left;
            width: 20.0%;
            margin-bottom: 16px;
            padding: 0 8px;
        }
        @media screen and (max-width: 900px) {
            .column {
                width: 100%;
                display: block;
            }
        }
        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        }
        .container {
            padding: 0 16px;
        }
        .container::after, .row::after {
            content: "";
            clear: both;
            display: table;
        }
        .title {
            color: grey;
        }
        .button {
            border: none;
            outline: 0;
            display: inline-block;
            padding: 8px;
            color: white;
            background-color: #000;
            text-align: center;
            cursor: pointer;
            width: 100%;
        }
        .button:hover {
            background-color: #555;
        }

        img {
            transition: filter .7s ease-in-out;
            -webkit-filter: grayscale(0%);
            filter: grayscale(0%) contrast(120%);
        }
        img:hover {
            -webkit-filter: grayscale(70%);
            filter: grayscale(70%);
        }
/* close commented backslash hack */
